body {
    padding: 0;
    margin: 0;
    background: #F7D08A;
}

main {
    padding: 50px;
    text-align: center;
}

#timer {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
